<div class="nav-menu-container flex justify-start items-center py-5 mx-auto w-4/5 border border-red-950">
  <div class="nav-logo border mx-5 border-yellow-500">
    <a href="{{ shop.url }}">
      <img src="{{ section.settings.logo | image_url }}" alt="{{ shop.name }}" />
    </a>
  </div>
  <div class="nav-menus flex justify-center items-center">
    {%- comment -%}for  customer to choose menu use this{%- endcomment -%}
    {% for link in section.settings.menu.links %}
      <div class="menu-link">
        <a class="text-lg font-bold mx-5" href="{{link.url}}">{{ link.title }}</a>
        {% if link.links.size > 0 %}
          <div class="menu dropdown-child">



            {% for child_link in link.links %}
              <div class="menu-link border border-red-950">
                <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                {% if child_link.links.size > 0 %}
                  <div class="menu dropdown-grandchild">
                    {% for grandchild_link in child_link.links %}
                      <div class="menu-link">
                        <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            {% if link.title == 'LOCKS' %}
              <div class="nav-image">


                <img
                  class="ml-auto "
                  src="{{section.settings.locks_image|img_url: 'medium'}}"
                  alt="">

              </div>
            {% elsif link.title == 'BAGS' %}

              <div class="nav-image">
                <img
                  class="ml-auto"
                  src="{{section.settings.bags_image |img_url: 'medium'}}"
                  alt="">

              </div>
            {% elsif link.title == 'ACCESSORIES' %}

              <div class="nav-image">
                <img
                  class="ml-auto"
                  src="{{section.settings.acc_image |img_url: 'medium'}}"
                  alt="">

              </div>
            {% endif %}



          </div>
        {% endif %}

      </div>
    {% endfor %}


  </div>
</div>

<script>// Add JavaScript here if needed for further functionality
</script>{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "text",
      "id": "collection_link",
      "label": "Collection Link",
      "default": "/collections/your-collection-handle"
    }, {
      "type": "image_picker",
      "id": "bags_image",
      "label": "bags_image"
    }, {
      "type": "image_picker",
      "id": "acc_image",
      "label": "acc_image"

    }, {
      "type": "image_picker",
      "id": "locks_image",
      "label": "locks_image"
    }
  ]
}
{% endschema %}