{% paginate blog.articles by 5 %}


  {% for article in blog.articles %}
    <div class="text-center mx-auto">
      {% if section.settings.blog_name %}
        <h2>
          <a class="text-4xl py-5 font-bold" href="{{ article.url }}">{{ article.title }}</a>
        </h2>
      {% endif %}
      {{ article.author }} @ {{ article.published_at | date: "%B %d, %Y" }}
      <div>
        {% if article.image %}
          <img
            class="mx-auto w-screen my-2 px-2"
            src={{article.image | img_url: 'medium'}}
            alt="">
        {% endif %}

        {% if article.excerpt.size > 0 %}
          {{ article.excerpt }}
        {% else %}
          <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}

  {% if paginate.pages > 1 %}
    {{ paginate | default_pagination }}
  {% endif %}

{% endpaginate %}

{% schema %}
  {
    "name": "Blog",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_name",
        "label": "Show Author Name",
        "default": true
      }, {
        "type": "checkbox",
        "id": "blog_author",
        "label": "Show Publish date",
        "default": true
      }
    ]


  }
{% endschema %}